:root {
   --general-background-c: rgb(20, 20, 20);
   --general-background-c-alpha-channel: rgba(20, 20, 20, 0.7);

   --main-text-c: rgb(240, 240, 240);
   --hover-c: rgb(0, 194, 201);
   --active-c: rgb(216, 167, 4);
}

body {
   background-color: var(--general-background-c);
   font-size: 1.5rem;
   line-height: 1.2;
   color: var(--main-text-c);
}
.wrapper {
   
}